<main>
	<h2>Handmade, Fresh, Daily!</h2>


    {{#each donuts}}
			<div class="donut-container">

        <a href='/{{_id}}'><img src='{{img}}' alt='donut_image'></a>

				<h3>{{name}}</h3>

				<p>$<span>{{price}}</span></p>

			</div>
    {{/each}}


</main>
