<main>
	<h2>Handmade, Fresh, Daily!</h2>

	{{#each newProducts}}

			<div class="donut-container">

				{{img}}

				<h3>   <<<< LINK TO DONUT'S SHOW PAGE, DONUT NAME AS LINK NAME >>>>   </h3>

				<p>$ <<<< DONUT PRICE HERE >>>> each </p>

			</div>

	{{/ each}}			


</main>
</body>
</html>
